.collection-container .left {
  animation: left-fadeIn-anim 1s ease 0.5s;
}

@keyframes left-fadeIn-anim {
  0% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

.collection-container .right {
  animation: right-fadeIn-anim 1s ease 0.5s;
}

@keyframes right-fadeIn-anim {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1379px) {
  .collection-container {
    display: flex;
    flex-direction: column;
  }

  .collection-container .left .title-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
  }
  .collection-container .left h3 {
    margin-top: 100px;
  }
  .collection-container .left .collection-length {
    font-size: 30px;
    margin-left: 10vw;
  }
  .collection-container .left .btn {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10vw;
  }

  .collection-container .right .image-container,
  .image {
    width: 50vw;
    height: 50vw;
  }
  .collection-container .right .image {
    margin-top: 100px;
  }
}
